@import './fonts.scss';

* {
    font-family: 'Gotham Light Regular';
    margin: 0;
    outline: none;
    padding: 0;
    font-size: 15px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

::-webkit-input-placeholder {
    color: #fff;
}

::-moz-placeholder {
    color: #fff;
}

:-ms-input-placeholder {
    color: #fff;
}

:-moz-placeholder {
    color: #fff;
}

body {
    min-height: 100vh;
    background-color: #1e2024;
}
