@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    outline: none;
    padding: 0;
    font-size: 15px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

::-webkit-input-placeholder {
    color: #fff;
}

::-moz-placeholder {
    color: #fff;
}

:-ms-input-placeholder {
    color: #fff;
}

:-moz-placeholder {
    color: #fff;
}

body {
    min-height: 100vh;
}
