.calendar__page {
    background-color: #1e2024;
    height: 100vh;
    .calendar__page--content {
        padding: 20px;
        .info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .date {
                font-family: 'Gotham Bold';
                color: #fff;
                font-size: 35px;
                @media (max-width: 600px) {
                    font-size: 20px;
                }
            }
        }
        .actions {
            display: flex;
            justify-content: center;
            button {
                background-color: #696a6c;
                padding: 5px 10px;
                border: none;
                cursor: pointer;
                color: #fff;
                margin: 1px;
                transition: 0.3s ease-in-out all;
                font-size: 13px;
                height: 30px;
                @media (max-width: 600px) {
                    font-size: 10px;
                }
                &:hover {
                    background-color: #bebec1;
                    color: #696a6c;
                    svg {
                        path {
                            fill: #696a6c;
                        }
                    }
                }
                svg {
                    height: 10px;
                    width: 10px;
                    path {
                        transition: 0.3s ease-in-out all;
                        fill: #fff;
                    }
                }
                &:first-child {
                    svg {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}
